@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'tailwindcss-v4';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

    --color-tsn-header: #274043;
    --color-tsn-bg: #f5f3e3;
    --color-tsn-accent: #d3c281;
    --color-tsn-alert: #308d78;
    --color-tsn-process: #9e5d4b;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-raleway: "Raleway";
}

@plugin "daisyui";